@import url('https://fonts.googleapis.com/css?family=Roboto');

//variables
$background: #fff;
$header: #000;

body {
  background: $background;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
}

h1 {
  color: $header;
}

.btn {
  margin: 20px;
}

.input-text {
  margin: 20px;
}

.input-comment {
  flex-grow: 2;
}

.comment-form {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  background-color: $background;
  z-index: 5;
}

.app-body {
  margin-bottom: 100px;
}

// .app-header {
//   top: 0;
//   width: 100%;
//   z-index: 5;
// }
//
// .app-body {
//   position: relative;
//   padding-top: 100px;
//   width: 100%;
//   overflow: auto;
//   z-index: 1;
// }
